<nav class="navbar">
  <div class="container priority">
    <div class="navbar-collapse" id="basic-navbar-nav">
      <a class="navbar-brand" href="">PET+</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav">
        <a class="nav-link disabled" aria-disabled="true">
          <h2>Relatório</h2>
        </a>
        <a class="nav-link disabled" aria-disabled="true">
          <h2>Investimento</h2>
        </a>
        <a class="nav-link disabled" aria-disabled="true">
          <h2>Metas</h2>
        </a>
        <a class="nav-link" routerLink="/cadastro">
          <h2>Criar uma conta</h2>
        </a>
        <a class="nav-link" routerLink="/login">
          <h2>Fazer Login</h2>
        </a>
      </div>
    </div>
  </div>
</nav>
